@import 'ggs';

@import url('select2.css');

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

$blue: #0066aa;

body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2 {
	font-weight: 300;
}

a {
	text-decoration: none;
	border-bottom: solid 1px black;
	color: black;
	&:hover {
		border-bottom: solid 1px $blue;
		color: $blue;
	}
}

h1 {
	@include huge;
	a {
		border-bottom: solid 2px black;
		&:hover {
			border-bottom: solid 2px $blue;
		}
	}
}

header {
	margin: 1em 0;
	text-align: center;
}
#content {
	margin: 1em auto;
	text-align: center;
	p {
	}
	li {
		line-height: 1.5;
	}
	select {
		display: none;
	}
	.select2-container {
		width: 300px;
		text-align: left;
		display: none;
		margin: 0 auto;
	}
}
footer {
	text-align: center;
	p { @include small; }
	padding-bottom: 1em !important;
}
