<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Littoral{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/littoral.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/select2.css') }}" />
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='js/select2.min.js') }}" charset="utf-8"></script>
		<script src="{{ url_for('static', filename='js/littoral.js') }}" charset="utf-8"></script>
	</head>
	<body class="{{pageclass}}">
		<header class="wrapper">
			<h1><a href="/">Littoral</a></h1>
			{% block header %}{% endblock %}
		</header>
		<div id="content" class="wrapper">
			{% block content %}{% endblock %}
		</div>
		<footer class="wrapper">
			<p class="copyright">Copyright &copy; 2014&ndash;2019 <a href="https://bight.ca/">Ned Zimmerman</a></p>
		</footer>
	</body>
</html>
