<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Littoral{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/littoral.css" />
		<script src="http://code.jquery.com/jquery-1.11.0.min.js" charset="utf-8"></script>
		<script src="/static/js/chosen.jquery.min.js" charset="utf-8"></script>
		<script src="/static/js/littoral.js" charset="utf-8"></script>
	</head>
	<body>
		<header class="container_12">
			{% block header %}
			<h1>Littoral</h1>
			{% endblock %}
		</header>
		<div id="content" class="container_12">
			{% block content %}{% endblock %}
		</div>
		<footer class="container_12">
			<p class="copyright"><a href="http://creativecommons.org/licenses/by-nc/4.0/" rel="license">CC</a> 2014 <a href="http://bight.ca/">Ned Zimmerman</a></p>
		</footer>
	</body>
</html>