{% extends "base.html" %}
{% block content %}
<select id="station" data-placeholder="Choose a station&hellip;">
	<option value=""></option>
	<optgroup label="British Columbia">
		<option value="8865">Adams Harbour</option>
		<option value="8860">Addenbroke Island</option>
		<option value="8280">Alert Bay</option>
		<option value="9448">Alice Arm</option>
		<option value="8488">Alison Sound</option>
		<option value="9765">Atli Inlet</option>
		<option value="8545">Bamfield</option>
		<option value="9115">Barnard Harbour</option>
		<option value="9082">Beauchemin Channel</option>
		<option value="7030">Becher Bay</option>
		<option value="7350">Bedwell Harbour</option>
		<option value="8482">Belize Inlet</option>
		<option value="8976">Bella Bella</option>
		<option value="8937">Bella Coola</option>
		<option value="8060">Big Bay</option>
		<option value="7865">Blind Bay</option>
		<option value="9165">Block Islands</option>
		<option value="7875">Blubber Bay</option>
		<option value="7480">Boat Harbour</option>
		<option value="7843">Boom Islet</option>
		<option value="8110">Brown Bay</option>
		<option value="9333">Brundige Inlet</option>
		<option value="8074">Campbell River</option>
		<option value="8790">Cape Scott</option>
		<option value="9502">Cape St. James</option>
		<option value="8325">Cedar Island</option>
		<option value="8015">Channel Island</option>
		<option value="8180">Chatham Point</option>
		<option value="7455">Chemainus</option>
		<option value="8765">Coal Harbour</option>
		<option value="7965">Comox</option>
		<option value="9724">Copper Islands</option>
		<option value="8150">Cordero Islands</option>
		<option value="7310">Cowichan Bay</option>
		<option value="7450">Crofton</option>
		<option value="8630">Cypress Bay</option>
		<option value="9635">Dawson Harbour</option>
		<option value="7955">Denman Island</option>
		<option value="7535">Dionisio Point</option>
		<option value="8868">Edward Channel</option>
		<option value="8585">Effingham Bay</option>
		<option value="9961">Egeria Bay</option>
		<option value="8805">Egg Island</option>
		<option value="7109">Esquimalt Harbour</option>
		<option value="7110">Esquimalt</option>
		<option value="7982">False Bay</option>
		<option value="7284">Finlayson Arm</option>
		<option value="7140">Finnerty Cove</option>
		<option value="8958">Forit Bay</option>
		<option value="8565">Franklin River</option>
		<option value="8458">Frederick Sound</option>
		<option value="7330">Fulford Harbour</option>
		<option value="7407">Ganges Harbour</option>
		<option value="7525">Georgina Point</option>
		<option value="8996">Gerald Point</option>
		<option value="7820">Gibsons</option>
		<option value="9105">Gillen Harbour</option>
		<option value="8310">Glendale Cove</option>
		<option value="8650">Gold River</option>
		<option value="9512">Gordon Islands</option>
		<option value="8037">Gorge Harbour</option>
		<option value="8906">Gosling Island</option>
		<option value="9443">Granby Bay</option>
		<option value="9020">Griffin Passage</option>
		<option value="9230">Griffith Harbour</option>
		<option value="7830">Halfmoon Bay</option>
		<option value="9130">Hartley Bay</option>
		<option value="9708">Heater Harbour</option>
		<option value="8632">Herbert Inlet</option>
		<option value="8035">Heriot Bay</option>
		<option value="9056">Higgings Passage</option>
		<option value="7360">Hope Bay</option>
		<option value="7953">Hornby Island</option>
		<option value="9570">Hunger Harbour</option>
		<option value="8736">Hunt Islets</option>
		<option value="7836">Irvines Landing</option>
		<option value="8384">Jennis Bay </option>
		<option value="9927">Juskatla</option>
		<option value="8215">Kelsey Bay</option>
		<option value="9150">Kemano Bay</option>
		<option value="8623">Kennedy Cove</option>
		<option value="8371">Kenneth Passage</option>
		<option value="9422">Kincolith</option>
		<option value="8348">KingCome Inlet</option>
		<option value="9140">Kitimat</option>
		<option value="9242">Kitkatla Islands</option>
		<option value="9035">Klemtu</option>
		<option value="8195">Knox Bay</option>
		<option value="8347">Kwatsi Bay</option>
		<option value="8978">Kynumpt Harbour</option>
		<option value="8710">Kyuquot</option>
		<option value="7460">Ladysmith</option>
		<option value="9964">Langara Point</option>
		<option value="9312">Lawyer Islands</option>
		<option value="8810">Leroy Bay</option>
		<option value="7993">Little River</option>
		<option value="9195">Lowe Inlet</option>
		<option value="7885">Lund</option>
		<option value="8756">Makwazniht Island</option>
		<option value="7315">Maple Bay</option>
		<option value="9910">Masset</option>
		<option value="9790">McCoy Cove</option>
		<option value="9077">McKenney Islands</option>
		<option value="8476">Mereworth Sound</option>
		<option value="9063">Milne Island</option>
		<option value="7895">Mitlenatch Island</option>
		<option value="9325">Moffatt Islands</option>
		<option value="8313">Montagu Point</option>
		<option value="7420">Montague Harbour</option>
		<option value="8870">Namu</option>
		<option value="7917">Nanaimo</option>
		<option value="7930">Nanoose Bay</option>
		<option value="7345">Narvaez Bay</option>
		<option value="7654">New Westminster</option>
		<option value="7938">Northwest Bay</option>
		<option value="8464">Nugent Sound</option>
		<option value="7130">Oak Bay</option>
		<option value="8962">Ocean Falls</option>
		<option value="8065">Orford Bay</option>
		<option value="8120">Owen Bay</option>
		<option value="9775">Pacofi</option>
		<option value="7277">Patricia Bay</option>
		<option value="7080">Pedder Bay</option>
		<option value="7795">Point Atkinson</option>
		<option value="7852">Porpoise Bay</option>
		<option value="8575">Port Alberni</option>
		<option value="8750">Port Alice</option>
		<option value="9005">Port Blackney</option>
		<option value="9920">Port Clements</option>
		<option value="9342">Port Edward</option>
		<option value="8408">Port Hardy</option>
		<option value="8250">Port Harvey</option>
		<option value="8290">Port McNeill</option>
		<option value="7755">Port Moody</option>
		<option value="8245">Port Neville</option>
		<option value="8525">Port Renfrew</option>
		<option value="9390">Port Simpson</option>
		<option value="7125">Portage Inlet</option>
		<option value="7880">Powell River</option>
		<option value="7471">Preedy Harbour</option>
		<option value="9058">Price Island</option>
		<option value="8008">Prideaux Haven</option>
		<option value="9354">Prince Rupert</option>
		<option value="9315">Qlawdzeet Anchorage</option>
		<option value="9850">Queen Charlotte</option>
		<option value="9418">Ranger Islet</option>
		<option value="8394">Raynor Group</option>
		<option value="8025">Redonda Bay</option>
		<option value="9306">Refuge Bay</option>
		<option value="8637">Riley Cove</option>
		<option value="8645">Saavedra Islands</option>
		<option value="7868">Saltery Bay</option>
		<option value="7594">Sand Heads</option>
		<option value="9250">Seabreeze Point</option>
		<option value="8105">Seymous Narrows</option>
		<option value="7013">Sheringham Point</option>
		<option value="7260">Sidney</option>
		<option value="7550">Silva Bay</option>
		<option value="8814">Smith Inlet</option>
		<option value="9067">Smithers Island</option>
		<option value="7024">Sooke Basin</option>
		<option value="7020">Sooke</option>
		<option value="8912">Spider Island</option>
		<option value="7811">Squamish</option>
		<option value="7607">Steveston</option>
		<option value="9475">Stewart</option>
		<option value="8588">Stopper Islands</option>
		<option value="8917">Stryker Island</option>
		<option value="8379">Stuart Narrows</option>
		<option value="8364">Sullivan Bay</option>
		<option value="8634">Sulphur Passage</option>
		<option value="8340">Sunday Harbour</option>
		<option value="9090">Surf Inlet</option>
		<option value="8045">Surge Narrows</option>
		<option value="8615">Tofino</option>
		<option value="9625">Trounce Inlet</option>
		<option value="8981">Troup Passage</option>
		<option value="7590">Tsawwassen</option>
		<option value="7510">Tumbo Channel</option>
		<option value="7892">Twin Islands</option>
		<option value="8595">Ucluelet</option>
		<option value="7735">Vancouver</option>
		<option value="7120">Victoria</option>
		<option value="7414">Village Bay</option>
		<option value="8069">Waddington Harbour</option>
		<option value="8840">Wadhams</option>
		<option value="8426">Walker Group</option>
		<option value="8626">Warn Bay</option>
		<option value="7990">Welcome Bay</option>
		<option value="9305">Welcome Harbour</option>
		<option value="7532">Whaler Bay</option>
		<option value="8038">Whaletown Bay</option>
		<option value="7577">White Rock</option>
		<option value="9940">Wiah Point</option>
		<option value="7935">Winchelsea Islands</option>
		<option value="8735">Winter Harbour</option>
		<option value="8670">Zeballos</option>
	</optgroup>
	<optgroup label="New Brunswick">
		<option value="30">Back Bay</option>
		<option value="2130">Bathurst</option>
		<option value="2028">Bay du Vin</option>
		<option value="44">Beaver Harbour</option>
		<option value="2145">Belledune</option>
		<option value="42">Blacks Harbour</option>
		<option value="2025">Burnt Church</option>
		<option value="103">Cambridge Narrows</option>
		<option value="2175">Campbellton</option>
		<option value="1810">Cap de Caissie</option>
		<option value="1800">Cap Pel&eacute;</option>
		<option value="150">Cape Enrage</option>
		<option value="1790">Cape Tormentine</option>
		<option value="2110">Caraquet</option>
		<option value="2035">Chatham</option>
		<option value="1812">Cocagne Harbour</option>
		<option value="8">Coffin Point</option>
		<option value="2014">Cormoran</option>
		<option value="4">Cutler</option>
		<option value="2165">Dalhousie</option>
		<option value="46">Dipper Harbour West</option>
		<option value="21">East Quoddy Head</option>
		<option value="24">Eastport, Maine</option>
		<option value="2000">Escuminac</option>
		<option value="98">Evandale</option>
		<option value="25">Fairehaven</option>
		<option value="2012">Fox Island</option>
		<option value="120">Fredericton</option>
		<option value="7">Gannet Rock</option>
		<option value="9">Garnet Point</option>
		<option value="2034">Gordon Point</option>
		<option value="160">Grindstone Island</option>
		<option value="97">Hatfield Point</option>
		<option value="140">Herring Cove</option>
		<option value="170">Hopewell Cape</option>
		<option value="33">Letang Harbour</option>
		<option value="2033">Loggieville</option>
		<option value="41">Long Island</option>
		<option value="55">Lorneville</option>
		<option value="2020">Lower Neguac</option>
		<option value="102">MacDonalds Point</option>
		<option value="29">Matthews Cove</option>
		<option value="28">McMaster Island</option>
		<option value="2090">Miscou</option>
		<option value="175">Moncton</option>
		<option value="53">Musquash Harbour</option>
		<option value="2022">Neguac</option>
		<option value="122">Newcastle Creek</option>
		<option value="2040">Newcastle</option>
		<option value="10">North Head</option>
		<option value="16">North Lubec</option>
		<option value="2030">Oak Point</option>
		<option value="1">Outer Wood Island</option>
		<option value="60">Partridge Island</option>
		<option value="190">Pecks Point</option>
		<option value="1830">Pointe-Sapin</option>
		<option value="1785">Port Elgin</option>
		<option value="2010">Portage Island</option>
		<option value="6">Portsmouth</option>
		<option value="66">Reversing Falls</option>
		<option value="1825">Richibucto Bar</option>
		<option value="1820">Richibucto Cape</option>
		<option value="1827">Richibucto</option>
		<option value="2029">Robichaud Spit</option>
		<option value="85">Rothesay</option>
		<option value="65">Saint John</option>
		<option value="1815">Saint-Thomas-de-Kent</option>
		<option value="5">Seal Cove</option>
		<option value="1805">Shediac Bay</option>
		<option value="2071">Shippagan</option>
		<option value="2070">Shippegan Gully</option>
		<option value="1860">Skinner's Pond</option>
		<option value="14">South Lubec</option>
		<option value="40">St. Andrews</option>
		<option value="129">St. Martins</option>
		<option value="35">St. Stephen</option>
		<option value="2120">Stonehaven</option>
		<option value="2060">Tracadie</option>
		<option value="108">Upper Gagetown</option>
		<option value="15">Welshpool</option>
		<option value="11">West Quoddy Head</option>
		<option value="20">Wilsons Beach</option>
	</optgroup>
	<optgroup label="Newfoundland &amp; Labrador">
		<option value="2637">Anchor Point</option>
		<option value="835">Argentia</option>
		<option value="818">Arnold's Cove</option>
		<option value="1110">Baie Verte</option>
		<option value="1190">Battle Harbour</option>
		<option value="1097">Beachside</option>
		<option value="915">Bell Island</option>
		<option value="724">Belleoram</option>
		<option value="1182">Black Joke Cove</option>
		<option value="990">Bonavista</option>
		<option value="1080">Botwood</option>
		<option value="1065">Bridgeport</option>
		<option value="1485">Brownell Point</option>
		<option value="1320">Cabot Point</option>
		<option value="1285">Caravalla Cove</option>
		<option value="1040">Carmanville</option>
		<option value="1245">Cartwright </option>
		<option value="1185">Castle Island</option>
		<option value="1052">Change Islands</option>
		<option value="1008">Charlottetown</option>
		<option value="975">Clarenville</option>
		<option value="977">Clifton</option>
		<option value="815">Come By Chance</option>
		<option value="1181">Cook's Harbour</option>
		<option value="2680">Corner Brook</option>
		<option value="672">Couteau Bay</option>
		<option value="2660">Cow Head</option>
		<option value="1054">Dark Cove, Dildo Run</option>
		<option value="1416">Davis Inlet</option>
		<option value="1200">Denbigh Island</option>
		<option value="1056">Dildo Run (Causeway)</option>
		<option value="1025">Dover-Wellington</option>
		<option value="1370">Emily Harbour</option>
		<option value="1085">Exploits Upper Harbour</option>
		<option value="1053">Farewell</option>
		<option value="890">Fermeuse Harbour</option>
		<option value="2635">Flowers Cove</option>
		<option value="1050">Fogo Harbour</option>
		<option value="1425">Ford Harbour</option>
		<option value="2590">Forteau</option>
		<option value="2695">Fox Island</option>
		<option value="1018">Glovertown</option>
		<option value="663">Grand Bay</option>
		<option value="755">Great St, Lawrence</option>
		<option value="898">Gull Island</option>
		<option value="1125">Hampden</option>
		<option value="720">Harbour Breton</option>
		<option value="935">Harbour Grace</option>
		<option value="955">Heart's Content</option>
		<option value="1465">Hebron</option>
		<option value="1186">Henley Harbour</option>
		<option value="710">Hermitage</option>
		<option value="973">Hickman's Harbour</option>
		<option value="925">Holyrood</option>
		<option value="1405">Hopedale</option>
		<option value="1420">House Harbour</option>
		<option value="666">Isle aux Morts</option>
		<option value="1398">Jackos Point</option>
		<option value="1003">Jamestown</option>
		<option value="1267">Jordans Point</option>
		<option value="1105">La Scie</option>
		<option value="893">Lance Cove</option>
		<option value="2685">Lark Harbour</option>
		<option value="1070">Lewisporte</option>
		<option value="1095">Little Bay Arm</option>
		<option value="1165">Lock's Cove</option>
		<option value="970">Long Beach</option>
		<option value="830">Long Harbour</option>
		<option value="920">Long Pond</option>
		<option value="1390">Makkovik</option>
		<option value="907">Middle Cove</option>
		<option value="1377">Mostyn Cove</option>
		<option value="1035">Musgrave Harbour</option>
		<option value="1430">Nain</option>
		<option value="1205">Nevile Island</option>
		<option value="1010">Newman Sound</option>
		<option value="2670">Norris Cove</option>
		<option value="810">North Harbour</option>
		<option value="1335">North West River</option>
		<option value="1248">Paradise River</option>
		<option value="665">Port aux Basques</option>
		<option value="2710">Port Harmon</option>
		<option value="1210">Port Hope Simpson</option>
		<option value="1195">Port Marnham</option>
		<option value="2650">Port Saunders</option>
		<option value="985">Port Union</option>
		<option value="912">Portugal Cove</option>
		<option value="1397">Postville</option>
		<option value="1217">Punchbowl</option>
		<option value="690">Pushthrough</option>
		<option value="2600">Red Bay</option>
		<option value="1280">Rigolet</option>
		<option value="745">Saint-Pierre</option>
		<option value="1015">Salvage</option>
		<option value="1247">Sandwich Bay</option>
		<option value="2633">Savage Cove</option>
		<option value="1115">Seal Cove</option>
		<option value="1048">Seldom Come By</option>
		<option value="1180">Ship Cove </option>
		<option value="2642">Shoal Cove</option>
		<option value="1410">Shoal Tickle</option>
		<option value="1009">Slatons Brook</option>
		<option value="1365">Smokey</option>
		<option value="1135">Sops Island</option>
		<option value="1098">Springdale</option>
		<option value="2638">St, Barbe</option>
		<option value="860">St, Mary's Harbour</option>
		<option value="705">St. Alban's</option>
		<option value="1170">St. Anthony</option>
		<option value="845">St. Bride's</option>
		<option value="2720">St. George's Bay</option>
		<option value="905">St. John's</option>
		<option value="795">Tacks Beach</option>
		<option value="1350">Terrington Basin</option>
		<option value="1102">Tilt Cove</option>
		<option value="1049">Tilting Harbour</option>
		<option value="880">Trepassey</option>
		<option value="981">Trinity</option>
		<option value="1400">Turnavik Island</option>
		<option value="1060">Twillingate</option>
		<option value="1030">Valleyfield</option>
		<option value="2595">West St. Modeste</option>
		<option value="1202">White Bear Arm</option>
		<option value="1490">Williams Harbour</option>
		<option value="805">Woody Island</option>
	</optgroup>
	<optgroup title="Northwest Territories"> 
		<option value="6476">Atkinson Point</option>
		<option value="6443">Baillies Islands</option>
		<option value="6472">Cape Dalhousie</option>
		<option value="6360">Cape Parry</option>
		<option value="6367">Franklin Bay</option>
		<option value="6525">Herschel Island</option>
		<option value="6495">Hooper Island</option>
		<option value="6457">Krubluyak Point</option>
		<option value="6955">Mould Bay</option>
		<option value="5643">Natkusiak Peninsula</option>
		<option value="6350">Paulatuk</option>
		<option value="6340">Pearce Point</option>
		<option value="5650">Peel Point</option>
		<option value="6497">Pelly Island</option>
		<option value="6424">Sachs Harbour</option>
		<option value="6505">Shingle Point</option>
		<option value="6485">Tuktoyaktuk</option>
		<option value="6338">Tysoe Point</option>
		<option value="6380">Ulukhaktok</option>
		<option value="5645">Winter Harbour</option>
	</optgroup>
	<optgroup label="Nova Scotia">
		<option value="382">Abbotts Harbour</option>
		<option value="380">Abrams River</option>
		<option value="236">Advocate Harbour</option>
		<option value="1590">Antigonish Harbour</option>
		<option value="580">Arichat</option>
		<option value="1610">Arisaig</option>
		<option value="1570">Aulds Cove</option>
		<option value="1600">Ballantynes Cove</option>
		<option value="415">Barrington Passage</option>
		<option value="305">Baxters Harbour</option>
		<option value="1520">Bay St. Lawrence</option>
		<option value="491">Bedford Institute</option>
		<option value="1547">Belle Cote Breakwater</option>
		<option value="620">Big Bras D'or</option>
		<option value="623">Black Rock Point</option>
		<option value="479">Blandford</option>
		<option value="482">Boutiliers Point</option>
		<option value="450">Bridgewater</option>
		<option value="1550">Broad Cove Marsh</option>
		<option value="330">Broad Cove</option>
		<option value="367">Bunker I, Light</option>
		<option value="366">Bunker I, Wharf</option>
		<option value="270">Burntcoat Head</option>
		<option value="585">Cannes</option>
		<option value="555">Canso Harbour</option>
		<option value="290">Cape Blomidon</option>
		<option value="225">Cape Capstan</option>
		<option value="1770">Cape Cliff</option>
		<option value="240">Cape D'Or</option>
		<option value="1580">Cape Jack</option>
		<option value="250">Cape Sharp</option>
		<option value="1640">Caribou</option>
		<option value="334">Centreville</option>
		<option value="1539">Cheticamp</option>
		<option value="493">Chezzetcook Inlet</option>
		<option value="353">Church Point</option>
		<option value="405">Clark's Harbour</option>
		<option value="485">Cliff Cove</option>
		<option value="1597">Cribbons Point</option>
		<option value="325">Digby</option>
		<option value="247">Diligent River</option>
		<option value="638">Dingwall</option>
		<option value="622">Duffus Point</option>
		<option value="336">East Sandy Cove</option>
		<option value="514">Ecum Secum</option>
		<option value="260">Five Islands</option>
		<option value="395">Flat Island</option>
		<option value="595">Fourchu</option>
		<option value="333">Grand Eddy</option>
		<option value="490">Halifax</option>
		<option value="282">Hantsport</option>
		<option value="480">Hubbards</option>
		<option value="484">Indian Harbour</option>
		<option value="423">Ingomar</option>
		<option value="630">Ingonish Ferry</option>
		<option value="535">Isaacs Harbour</option>
		<option value="312">Isle Haute</option>
		<option value="215">Joggins</option>
		<option value="653">Johnstown</option>
		<option value="368">Kelley's Cove</option>
		<option value="1540">La Pointe</option>
		<option value="540">Larrys River</option>
		<option value="345">Lighthouse Cove</option>
		<option value="515">Liscomb Harbour</option>
		<option value="497">Little Harbour</option>
		<option value="440">Liverpool</option>
		<option value="430">Lockeport</option>
		<option value="600">Louisbourg</option>
		<option value="385">Lower East Pubnico</option>
		<option value="374">Lower Wedgeport</option>
		<option value="455">Lunenburg</option>
		<option value="1760">Malagash</option>
		<option value="1546">Margaree Breakwater</option>
		<option value="1545">Margaree Trailer</option>
		<option value="315">Margaretsville</option>
		<option value="1548">Margeree Bridge</option>
		<option value="516">Marie Joseph</option>
		<option value="1620">Merigomish</option>
		<option value="355">Meteghan</option>
		<option value="475">Mill Cove</option>
		<option value="1662">Montague</option>
		<option value="500">Murphy Cove</option>
		<option value="635">Neil's Harbour</option>
		<option value="612">North Sydney</option>
		<option value="473">Owls Head</option>
		<option value="320">Parkers Cove</option>
		<option value="255">Parrsboro</option>
		<option value="582">Petit-de-Grat</option>
		<option value="1635">Pictou Island</option>
		<option value="1630">Pictou</option>
		<option value="370">Pinkney Point </option>
		<option value="576">Point Tupper</option>
		<option value="530">Port Bickerton</option>
		<option value="511">Port Dufferin</option>
		<option value="245">Port Greville</option>
		<option value="570">Port Hastings</option>
		<option value="575">Port Hawkesbury</option>
		<option value="1560">Port Hood</option>
		<option value="360">Port Maitland</option>
		<option value="435">Port Mouton</option>
		<option value="486">Prospect</option>
		<option value="1775">Pugwash</option>
		<option value="452">Riverport</option>
		<option value="550">Sable Island</option>
		<option value="495">Salmon River Bridge</option>
		<option value="488">Sambro Harbour</option>
		<option value="563">Sand Point</option>
		<option value="335">Sandy Cove</option>
		<option value="426">Sandy Point</option>
		<option value="300">Scots Bay</option>
		<option value="400">Seal Island</option>
		<option value="510">Sheet Harbour</option>
		<option value="425">Shelburne</option>
		<option value="525">Sherbrooke</option>
		<option value="1745">Skinners Cove</option>
		<option value="520">Sonora</option>
		<option value="242">Spencers Island</option>
		<option value="509">Spry Harbour</option>
		<option value="1530">St. Paul Island</option>
		<option value="410">Swims Point </option>
		<option value="610">Sydney</option>
		<option value="621">Table Head</option>
		<option value="1780">Tidnish</option>
		<option value="338">Tiverton, Boars Head</option>
		<option value="337">Tiverton, South Entrance</option>
		<option value="505">Tomlee Bay</option>
		<option value="265">Truro</option>
		<option value="378">Tusket</option>
		<option value="420">Upper Port La Tour</option>
		<option value="375">Wedgeport</option>
		<option value="235">West Advocate</option>
		<option value="408">West Head</option>
		<option value="339">West Narrows</option>
		<option value="512">West Newdy Quoddy</option>
		<option value="340">Westport</option>
		<option value="545">Whitehead</option>
		<option value="390">Woods Harbour </option>
		<option value="365">Yarmouth</option>
	</optgroup>
	<optgroup label="Nunavut">
		<option value="4170">Acadia Cove</option>
		<option value="4335">Agvik Island</option>
		<option value="6765">Airstrip Point</option>
		<option value="4538">Akulivik</option>
		<option value="3765">Alert</option>
		<option value="5865">Arctic Bay</option>
		<option value="5040">Arviat (Eskimo Point)</option>
		<option value="4215">Ashe Inlet</option>
		<option value="4604">B&eacute;langer Island</option>
		<option value="6580">Bay of Woe</option>
		<option value="4880">Bear Island (James Bay)</option>
		<option value="4648">Bear Island</option>
		<option value="5510">Beechey Island</option>
		<option value="5917">Bellot Strait East</option>
		<option value="6310">Bernard Harbour</option>
		<option value="4070">Brevoort Harbour</option>
		<option value="6240">Cambridge Bay</option>
		<option value="6787">Cameron Island</option>
		<option value="5940">Cape Augherston</option>
		<option value="5992">Cape Barclay</option>
		<option value="5976">Cape Berens</option>
		<option value="5600">Cape Capel</option>
		<option value="5975">Cape Chapman</option>
		<option value="3995">Cape Dyer</option>
		<option value="3960">Cape Hooper</option>
		<option value="5935">Cape Kater</option>
		<option value="5978">Cape Miles</option>
		<option value="3780">Cape Sheridan</option>
		<option value="5990">Cape Sibbald</option>
		<option value="6560">Cape Skogn</option>
		<option value="4730">Charlton Island</option>
		<option value="5140">Chesterfield Inlet</option>
		<option value="5010">Churchill, Manitoba</option>
		<option value="4040">Clearwater Fiord</option>
		<option value="3940">Clyde River</option>
		<option value="5180">Coral Harbour</option>
		<option value="5970">Crown Prince Frederick</option>
		<option value="5998">Dease Peninsula</option>
		<option value="4460">Deception Bay</option>
		<option value="4480">Digges Harbour</option>
		<option value="3790">Discovery Harbour</option>
		<option value="6730">Disraeli Fiord</option>
		<option value="4415">Doctor Island</option>
		<option value="4435">Douglas Harbour</option>
		<option value="5430">Dundas Harbour</option>
		<option value="4710">Eastmain</option>
		<option value="6640">Eureka</option>
		<option value="6100">False Strait</option>
		<option value="4120">Frobisher's Farthest</option>
		<option value="5918">Fury Point</option>
		<option value="4597">Gillies Island</option>
		<option value="6210">Gladman Point</option>
		<option value="6670">Greely Fiord</option>
		<option value="6570">Grise Fiord</option>
		<option value="5275">Hall Beach</option>
		<option value="5615">Hamilton Island</option>
		<option value="4688">Hook Island</option>
		<option value="4325">Hopes Advance Bay</option>
		<option value="6660">Iceberg Point</option>
		<option value="5295">Igloolik</option>
		<option value="4045">Imigen Island</option>
		<option value="4610">Innetalling Island</option>
		<option value="4575">Inukjuak</option>
		<option value="4140">Iqaluit</option>
		<option value="6910">Isachsen</option>
		<option value="4425">Kangiqsujuaq</option>
		<option value="4205">Kimmirut</option>
		<option value="3970">Kivitoo</option>
		<option value="5790">Koluktoo Bay</option>
		<option value="5985">Kugaaruk</option>
		<option value="6290">Kugluktuk</option>
		<option value="4645">Kuujjuarapik</option>
		<option value="4680">La Grande Rivi&egrave;re</option>
		<option value="5948">Lavoie Islands (Bernier Bay)</option>
		<option value="4135">Lewis Bay</option>
		<option value="6758">Little Cornwallis Island</option>
		<option value="4655">Long Island</option>
		<option value="4681">Loon Islands</option>
		<option value="5070">Marble Island</option>
		<option value="5960">Martin Islands</option>
		<option value="5791">Milne Inlet</option>
		<option value="5358">Needle Cove</option>
		<option value="4548">North Kopak Island</option>
		<option value="6780">Northumberland Sound</option>
		<option value="5159">Norton Island</option>
		<option value="4029">Pangnirtung</option>
		<option value="5090">Panorama Island</option>
		<option value="3840">Pim Island</option>
		<option value="5795">Pisiktarfik Island</option>
		<option value="5912">Port Bowen</option>
		<option value="4265">Port Burwell</option>
		<option value="4500">Port de Boucherville</option>
		<option value="4490">Port de Laperriere</option>
		<option value="4980">Port Nelson, Manitoba</option>
		<option value="5330">Purfur Cove</option>
		<option value="3980">Qikiqtarjuaq</option>
		<option value="5500">Radstock Bay</option>
		<option value="5100">Rankin Inlet</option>
		<option value="4628">Renouf Island</option>
		<option value="5200">Repulse Bay</option>
		<option value="5560">Resolute</option>
		<option value="4100">Resor Island</option>
		<option value="5490">Rigby Bay</option>
		<option value="4662">Roggan River</option>
		<option value="5310">S&eacute;vigny Point</option>
		<option value="4470">Salluit</option>
		<option value="4780">Sand Head</option>
		<option value="4255">Schooner Harbour</option>
		<option value="6160">Shepherd Bay</option>
		<option value="4160">Sorry Harbour</option>
		<option value="4740">Stag Island</option>
		<option value="5860">Strathcona Sound</option>
		<option value="4720">Strutton Island</option>
		<option value="6150">Taloyoak</option>
		<option value="4600">Tukarak Island</option>
		<option value="5055">Whale Cove</option>
		<option value="5906">Whaler Point</option>
		<option value="4920">Winisk</option>
		<option value="3785">Wrangel Bay</option>
	</optgroup>
	<optgroup label="Ontario">
		<option value="4840">Fort Albany</option>
		<option value="11445">Midland</option>
		<option value="4810">Moosonee</option>
		<option value="4800">Nicholson Creek</option>
		<option value="4790">Ship Sands Island</option>
		<option value="10050">Thunder Bay</option>
	</optgroup>
	<optgroup label="Prince Edward Island">
		<option value="1885">Alberton</option>
		<option value="1725">Borden</option>
		<option value="1710">Canoe Cove</option>
		<option value="1835">Cape Egmont</option>
		<option value="1700">Charlottetown</option>
		<option value="1896">Ellerslie</option>
		<option value="1660">Georgetown</option>
		<option value="1665">Graham Pond</option>
		<option value="1905">Malpeque</option>
		<option value="1855">Miminegash</option>
		<option value="1670">Murray Harbour</option>
		<option value="1945">Naufrage</option>
		<option value="1955">North Lake Harbour</option>
		<option value="1865">North Point</option>
		<option value="1690">Point Prim</option>
		<option value="1915">Rustico</option>
		<option value="1925">Savage Harbour</option>
		<option value="1650">Souris</option>
		<option value="1935">St. Peters Bay</option>
		<option value="1735">Summerside</option>
		<option value="1875">Tignish</option>
		<option value="1715">Victoria</option>
		<option value="1845">West Point</option>
		<option value="1680">Wood Islands</option>
	</optgroup>
	<optgroup label="Qu&eacute;bec">	
		<option value="1995">&Eacute;tang-de-l'Ouest</option>
		<option value="1990">&Eacute;tang-du-Nord</option>
		<option value="2335">Anse-&agrave;-Valleau</option>
		<option value="3353">B&eacute;cancour</option>
		<option value="2585">Baie de Brador</option>
		<option value="2490">Baie Johan-Beetz</option>
		<option value="2840">Baie-Comeau</option>
		<option value="2556">Baie-des-Moutons</option>
		<option value="3345">Batiscan</option>
		<option value="3200">Berthier-sur-Mer</option>
		<option value="2995">Bic</option>
		<option value="2588">Blanc-Sablon</option>
		<option value="3337">Brickyard</option>
		<option value="3125">Cacouna</option>
		<option value="2290">Cap d'Espoir</option>
		<option value="3060">Cap-aux-Corbeaux</option>
		<option value="1970">Cap-aux-Meules</option>
		<option value="3052">Cap-aux-Oies</option>
		<option value="2940">Cap-Chat</option>
		<option value="2460">Cap-de-Rabast</option>
		<option value="2200">Carleton-Centre</option>
		<option value="3350">Champlain</option>
		<option value="3122">Chenal de l'&icirc;le Verte</option>
		<option value="3480">Chicoutimi</option>
		<option value="2340">Cloridorme</option>
		<option value="15780">Contrecoeur</option>
		<option value="3335">Deschaillons </option>
		<option value="2880">Forestville</option>
		<option value="2253">Gascons</option>
		<option value="2320">Gasp&eacute;</option>
		<option value="2530">Geths&eacute;mani</option>
		<option value="2826">Godbout</option>
		<option value="3150">Grande &Icirc;le</option>
		<option value="1985">Grande-Entr&eacute;e</option>
		<option value="2279">Grande-Rivi&egrave;re</option>
		<option value="2350">Grande-Vall&eacute;e</option>
		<option value="3325">Grondines</option>
		<option value="3190">Grosse &Icirc;le</option>
		<option value="2550">Harrington Harbour</option>
		<option value="1964">Havre Aubert</option>
		<option value="2230">Havre de Beaubassin</option>
		<option value="2480">Havre-Saint-Pierre</option>
		<option value="3058">Ile aux Coudres</option>
		<option value="3180">Ile aux Grues</option>
		<option value="3140">Ile aux Li&egrave;vres</option>
		<option value="4345">Ile Basking</option>
		<option value="1966">Ile d'Entr&eacute;e</option>
		<option value="2580">Ile Eskimo</option>
		<option value="4340">Ile Pikiyulik</option>
		<option value="3120">Ile Verte</option>
		<option value="3251">Immigration Wharf</option>
		<option value="2975">Institut Maurice-Lamontagn</option>
		<option value="4279">Kangiqsualujjuaq</option>
		<option value="2518">Kegashka</option>
		<option value="4298">Kuujjuaq</option>
		<option value="3175">L'Islet-sur-Mer</option>
		<option value="2558">La Tabati&egrave;re</option>
		<option value="4315">Lac aux Feuilles</option>
		<option value="15975">Lac Saint-Pierre</option>
		<option value="3145">Le Petit P&eacute;lerin</option>
		<option value="2900">Les Escoumins</option>
		<option value="1987">Leslie</option>
		<option value="2309">Mal-Bay</option>
		<option value="2955">Matane</option>
		<option value="2196">Miguasha</option>
		<option value="1960">Millerand</option>
		<option value="1988">Mine Seleine</option>
		<option value="2470">Mingan</option>
		<option value="2920">Mont-Louis</option>
		<option value="3095">Montmorency</option>
		<option value="15540">Montr&eacute;al-Frontenac</option>
		<option value="15520">Montr&eacute;al-Jet&eacute;e No. 1</option>
		<option value="3304">Moulin &agrave; Bl&eacute;</option>
		<option value="2510">Natashquan</option>
		<option value="3280">Neuville</option>
		<option value="2260">Newport</option>
		<option value="1986">Old Harry</option>
		<option value="2235">Pasp&eacute;biac</option>
		<option value="1981">Pointe Basse</option>
		<option value="2375">Pointe du Sud-Ouest</option>
		<option value="2410">Pointe Heath</option>
		<option value="2215">Pointe Howatson</option>
		<option value="2980">Pointe-au-P&egrave;re</option>
		<option value="3045">Pointe-au-Pic</option>
		<option value="3295">Pointe-au-Platon</option>
		<option value="3160">Pointe-aux-Orignaux</option>
		<option value="15330">Pointe-Claire</option>
		<option value="2310">Pointe-Saint-Pierre</option>
		<option value="3248">Port de Qu&eacute;bec (Vieux-Qu&eacute;bec)</option>
		<option value="3365">Port Saint-Fran&ccedil;ois</option>
		<option value="3460">Port-Alfred</option>
		<option value="2790">Port-Cartier</option>
		<option value="2250">Port-Daniel</option>
		<option value="2360">Port-Menier</option>
		<option value="3300">Portneuf</option>
		<option value="3250">Qu&eacute;bec (Lauzon)</option>
		<option value="3264">Quai Irving</option>
		<option value="4379">Quaqtaq</option>
		<option value="2985">Rimouski</option>
		<option value="4295">Rivi&egrave;re Koksoak</option>
		<option value="2330">Rivi&egrave;re-au-Renard</option>
		<option value="2750">Rivi&egrave;re-au-Tonnerre</option>
		<option value="3130">Rivi&egrave;re-du-Loup</option>
		<option value="3071">Rocher Neptune</option>
		<option value="2564">Saint-Augustin</option>
		<option value="3100">Saint-Fran&ccedil;ois I.O.</option>
		<option value="2240">Saint-Godefroi</option>
		<option value="3048">Saint-Ir&eacute;n&eacute;e</option>
		<option value="3170">Saint-Jean-Port-Joli</option>
		<option value="3105">Saint-Jean</option>
		<option value="3080">Saint-Joachim</option>
		<option value="3057">Saint-Joseph-de-la-Rive</option>
		<option value="3110">Saint-Laurent </option>
		<option value="3270">Saint-Nicolas</option>
		<option value="3260">Saint-Romuald</option>
		<option value="3030">Saint-Sim&eacute;on</option>
		<option value="3087">Sainte-Anne-de-Beaupr&eacute;</option>
		<option value="16005">Sainte-Anne-de-Bellevue</option>	
		<option value="2935">Sainte-Anne-des-Monts</option>
		<option value="2319">Sandy Beach Centre</option>
		<option value="3070">Sault-au-Cochon</option>
		<option value="2780">Sept-&Icirc;les</option>
		<option value="15930">Sorel</option>
		<option value="2883">Ste-Anne-de-Portneuf</option>
		<option value="2285">Ste-Th&eacute;r&egrave;se-de-Gasp&eacute;</option>
		<option value="4400">Stupart Bay</option>	
		<option value="2554">T&ecirc;te-&agrave;-la-Baleine</option>
		<option value="3425">Tadoussac</option>
		<option value="3166">Traverse Saint-Roch</option>
		<option value="3005">Trois-Pistoles</option>
		<option value="3360">Trois-Rivi&egrave;res</option>
		<option value="15660">Varennes</option>
	</optgroup>
	<optgroup label="Yukon Territory">
		<option value="6515">Kay Point</option>
	</optgroup>
</select>
<p class="location"></p>
{% endblock %}