{% extends "base.html" %}
{% block content %}
<select id="station" data-placeholder="Choose a station&hellip;">
	<option value=""></option>
	<option value="1">Outer Wood Island, NB</option>
	<option value="4">Cutler, NB</option>
	<option value="5">Seal Cove, NB</option>
	<option value="6">Portsmouth, NB</option>
	<option value="7">Gannet Rock, NB</option>
	<option value="8">Coffin Point, NB</option>
	<option value="9">Garnet Point, NB</option>
	<option value="10">North Head, NB</option>
	<option value="11">West Quoddy Head, NB</option>
	<option value="14">South Lubec, NB</option>
	<option value="15">Welshpool, NB</option>
	<option value="16">North Lubec, NB</option>
	<option value="20">Wilsons Beach, NB</option>
	<option value="21">East Quoddy Head, NB</option>
	<option value="24">Eastport, Maine, NB</option>
	<option value="25">Fairehaven, NB</option>
	<option value="28">McMaster Island, NB</option>
	<option value="29">Matthews Cove, NB</option>
	<option value="30">Back Bay, NB</option>
	<option value="33">Letang Harbour, NB</option>
	<option value="35">St. Stephen, NB</option>
	<option value="40">St. Andrews, NB</option>
	<option value="41">Long Island, NB</option>
	<option value="42">Blacks Harbour, NB</option>
	<option value="44">Beaver Harbour, NB</option>
	<option value="46">Dipper Harbour West, NB</option>
	<option value="53">Musquash Harbour, NB</option>
	<option value="55">Lorneville, NB</option>
	<option value="60">Partridge Island, NB</option>
	<option value="65">Saint John, NB</option>
	<option value="66">Reversing Falls, NB</option>
	<option value="85">Rothesay, NB</option>
	<option value="97">Hatfield Point, NB</option>
	<option value="98">Evandale, NB</option>
	<option value="102">MacDonalds Point, NB</option>
	<option value="103">Cambridge Narrows, NB</option>
	<option value="108">Upper Gagetown, NB</option>
	<option value="120">Fredericton, NB</option>
	<option value="122">Newcastle Creek, NB</option>
	<option value="129">St. Martins, NB</option>
	<option value="140">Herring Cove, NB</option>
	<option value="150">Cape Enrage, NB</option>
	<option value="160">Grindstone Island, NB</option>
	<option value="170">Hopewell Cape, NB</option>
	<option value="175">Moncton, NB</option>
	<option value="190">Pecks Point, NB</option>
	<option value="215">Joggins, NS</option>
	<option value="225">Cape Capstan, NS</option>
	<option value="235">West Advocate, NS</option>
	<option value="236">Advocate Harbour, NS</option>
	<option value="240">Cape D'Or, NS</option>
	<option value="242">Spencers Island, NS</option>
	<option value="245">Port Greville, NS</option>
	<option value="247">Diligent River, NS</option>
	<option value="250">Cape Sharp, NS</option>
	<option value="255">Parrsboro, NS</option>
	<option value="260">Five Islands, NS</option>
	<option value="265">Truro, NS</option>
	<option value="270">Burntcoat Head, NS</option>
	<option value="282">Hantsport, NS</option>
	<option value="290">Cape Blomidon, NS</option>
	<option value="300">Scots Bay, NS</option>
	<option value="305">Baxters Harbour, NS</option>
	<option value="312">Isle Haute, NS</option>
	<option value="315">Margaretsville, NS</option>
	<option value="320">Parkers Cove, NS</option>
	<option value="325">Digby, NS</option>
	<option value="330">Broad Cove, NS</option>
	<option value="333">Grand Eddy, NS</option>
	<option value="334">Centreville, NS</option>
	<option value="335">Sandy Cove, NS</option>
	<option value="336">East Sandy Cove, NS</option>
	<option value="337">Tiverton, South Entrance, NS</option>
	<option value="338">Tiverton, Boars Head, NS</option>
	<option value="339">West Narrows, NS</option>
	<option value="340">Westport, NS</option>
	<option value="345">Lighthouse Cove, NS</option>
	<option value="353">Church Point, NS</option>
	<option value="355">Meteghan, NS</option>
	<option value="360">Port Maitland, NS</option>
	<option value="365">Yarmouth, NS</option>
	<option value="366">Bunker I, Wharf, NS</option>
	<option value="367">Bunker I, Light, NS</option>
	<option value="368">Kelley's Cove, NS</option>
	<option value="370">Pinkney Point , NS</option>
	<option value="374">Lower Wedgeport, NS</option>
	<option value="375">Wedgeport, NS</option>
	<option value="378">Tusket, NS</option>
	<option value="380">Abrams River, NS</option>
	<option value="382">Abbotts Harbour, NS</option>
	<option value="385">Lower East Pubnico, NS</option>
	<option value="390">Woods Harbour , NS</option>
	<option value="395">Flat Island, NS</option>
	<option value="400">Seal Island, NS</option>
	<option value="405">Clark's Harbour, NS</option>
	<option value="408">West Head, NS</option>
	<option value="410">Swims Point , NS</option>
	<option value="415">Barrington Passage, NS</option>
	<option value="420">Upper Port La Tour, NS</option>
	<option value="423">Ingomar, NS</option>
	<option value="425">Shelburne, NS</option>
	<option value="426">Sandy Point, NS</option>
	<option value="430">Lockeport, NS</option>
	<option value="435">Port Mouton, NS</option>
	<option value="440">Liverpool, NS</option>
	<option value="450">Bridgewater, NS</option>
	<option value="452">Riverport, NS</option>
	<option value="455">Lunenburg, NS</option>
	<option value="473">Owls Head, NS</option>
	<option value="475">Mill Cove, NS</option>
	<option value="479">Blandford, NS</option>
	<option value="480">Hubbards, NS</option>
	<option value="482">Boutiliers Point, NS</option>
	<option value="484">Indian Harbour, NS</option>
	<option value="485">Cliff Cove, NS</option>
	<option value="486">Prospect, NS</option>
	<option value="488">Sambro Harbour, NS</option>
	<option value="490">Halifax, NS</option>
	<option value="491">Bedford Institute, NS</option>
	<option value="493">Chezzetcook Inlet, NS</option>
	<option value="495">Salmon River Bridge, NS</option>
	<option value="497">Little Harbour, NS</option>
	<option value="500">Murphy Cove, NS</option>
	<option value="505">Tomlee Bay, NS</option>
	<option value="509">Spry Harbour, NS</option>
	<option value="510">Sheet Harbour, NS</option>
	<option value="511">Port Dufferin, NS</option>
	<option value="512">West Newdy Quoddy, NS</option>
	<option value="514">Ecum Secum, NS</option>
	<option value="515">Liscomb Harbour, NS</option>
	<option value="516">Marie Joseph, NS</option>
	<option value="520">Sonora, NS</option>
	<option value="525">Sherbrooke, NS</option>
	<option value="530">Port Bickerton, NS</option>
	<option value="535">Isaacs Harbour, NS</option>
	<option value="540">Larrys River, NS</option>
	<option value="545">Whitehead, NS</option>
	<option value="550">Sable Island, NS</option>
	<option value="555">Canso Harbour, NS</option>
	<option value="563">Sand Point, NS</option>
	<option value="570">Port Hastings, NS</option>
	<option value="575">Port Hawkesbury, NS</option>
	<option value="576">Point Tupper, NS</option>
	<option value="580">Arichat, NS</option>
	<option value="582">Petit-de-Grat, NS</option>
	<option value="585">Cannes, NS</option>
	<option value="595">Fourchu, NS</option>
	<option value="600">Louisbourg, NS</option>
	<option value="610">Sydney, NS</option>
	<option value="612">North Sydney, NS</option>
	<option value="620">Big Bras D'or, NS</option>
	<option value="621">Table Head, NS</option>
	<option value="622">Duffus Point, NS</option>
	<option value="623">Black Rock Point, NS</option>
	<option value="630">Ingonish Ferry, NS</option>
	<option value="635">Neil's Harbour, NS</option>
	<option value="638">Dingwall, NS</option>
	<option value="653">Johnstown, NS</option>
	<option value="663">Grand Bay, NL</option>
	<option value="665">Port aux Basques, NL</option>
	<option value="666">Isle aux Morts, NL</option>
	<option value="672">Couteau Bay, NL</option>
	<option value="690">Pushthrough, NL</option>
	<option value="705">St. Alban's, NL</option>
	<option value="710">Hermitage, NL</option>
	<option value="720">Harbour Breton, NL</option>
	<option value="724">Belleoram, NL</option>
	<option value="745">Saint-Pierre, NL</option>
	<option value="755">Great St, Lawrence, NL</option>
	<option value="795">Tacks Beach, NL</option>
	<option value="805">Woody Island, NL</option>
	<option value="810">North Harbour, NL</option>
	<option value="815">Come By Chance, NL</option>
	<option value="818">Arnold's Cove, NL</option>
	<option value="830">Long Harbour, NL</option>
	<option value="835">Argentia, NL</option>
	<option value="845">St. Bride's, NL</option>
	<option value="860">St, Mary's Harbour, NL</option>
	<option value="880">Trepassey, NL</option>
	<option value="890">Fermeuse Harbour, NL</option>
	<option value="893">Lance Cove, NL</option>
	<option value="898">Gull Island, NL</option>
	<option value="905">St. John's, NL</option>
	<option value="907">Middle Cove, NL</option>
	<option value="912">Portugal Cove, NL</option>
	<option value="915">Bell Island, NL</option>
	<option value="920">Long Pond, NL</option>
	<option value="925">Holyrood, NL</option>
	<option value="935">Harbour Grace, NL</option>
	<option value="955">Heart's Content, NL</option>
	<option value="970">Long Beach, NL</option>
	<option value="973">Hickman's Harbour, NL</option>
	<option value="975">Clarenville, NL</option>
	<option value="977">Clifton, NL</option>
	<option value="981">Trinity, NL</option>
	<option value="985">Port Union, NL</option>
	<option value="990">Bonavista, NL</option>
	<option value="1003">Jamestown, NL</option>
	<option value="1008">Charlottetown, NL</option>
	<option value="1009">Slatons Brook, NL</option>
	<option value="1010">Newman Sound, NL</option>
	<option value="1015">Salvage, NL</option>
	<option value="1018">Glovertown, NL</option>
	<option value="1025">Dover-Wellington, NL</option>
	<option value="1030">Valleyfield, NL</option>
	<option value="1035">Musgrave Harbour, NL</option>
	<option value="1040">Carmanville, NL</option>
	<option value="1048">Seldom Come By, NL</option>
	<option value="1049">Tilting Harbour, NL</option>
	<option value="1050">Fogo Harbour, NL</option>
	<option value="1052">Change Islands, NL</option>
	<option value="1053">Farewell, NL</option>
	<option value="1054">Dark Cove, Dildo Run, NL</option>
	<option value="1056">Dildo Run (Causeway), NL</option>
	<option value="1060">Twillingate, NL</option>
	<option value="1065">Bridgeport, NL</option>
	<option value="1070">Lewisporte, NL</option>
	<option value="1080">Botwood, NL</option>
	<option value="1085">Exploits Upper Harbour, NL</option>
	<option value="1095">Little Bay Arm, NL</option>
	<option value="1097">Beachside, NL</option>
	<option value="1098">Springdale, NL</option>
	<option value="1102">Tilt Cove, NL</option>
	<option value="1105">La Scie, NL</option>
	<option value="1110">Baie Verte, NL</option>
	<option value="1115">Seal Cove, NL</option>
	<option value="1125">Hampden, NL</option>
	<option value="1135">Sops Island, NL</option>
	<option value="1165">Lock's Cove, NL</option>
	<option value="1170">St. Anthony, NL</option>
	<option value="1180">Ship Cove , NL</option>
	<option value="1181">Cook's Harbour, NL</option>
	<option value="1182">Black Joke Cove, NL</option>
	<option value="1185">Castle Island, NL</option>
	<option value="1186">Henley Harbour, NL</option>
	<option value="1190">Battle Harbour, NL</option>
	<option value="1195">Port Marnham, NL</option>
	<option value="1200">Denbigh Island, NL</option>
	<option value="1202">White Bear Arm, NL</option>
	<option value="1205">Nevile Island, NL</option>
	<option value="1210">Port Hope Simpson, NL</option>
	<option value="1217">Punchbowl, NL</option>
	<option value="1245">Cartwright , NL</option>
	<option value="1247">Sandwich Bay, NL</option>
	<option value="1248">Paradise River, NL</option>
	<option value="1267">Jordans Point, NL</option>
	<option value="1280">Rigolet, NL</option>
	<option value="1285">Caravalla Cove, NL</option>
	<option value="1320">Cabot Point, NL</option>
	<option value="1335">North West River, NL</option>
	<option value="1350">Terrington Basin, NL</option>
	<option value="1365">Smokey, NL</option>
	<option value="1370">Emily Harbour, NL</option>
	<option value="1377">Mostyn Cove, NL</option>
	<option value="1390">Makkovik, NL</option>
	<option value="1397">Postville, NL</option>
	<option value="1398">Jackos Point, NL</option>
	<option value="1400">Turnavik Island, NL</option>
	<option value="1405">Hopedale, NL</option>
	<option value="1410">Shoal Tickle, NL</option>
	<option value="1416">Davis Inlet, NL</option>
	<option value="1420">House Harbour, NL</option>
	<option value="1425">Ford Harbour, NL</option>
	<option value="1430">Nain, NL</option>
	<option value="1465">Hebron, NL</option>
	<option value="1485">Brownell Point, NL</option>
	<option value="1490">Williams Harbour, NL</option>
	<option value="1520">Bay St. Lawrence, NS</option>
	<option value="1530">St. Paul Island, NS</option>
	<option value="1539">Cheticamp, NS</option>
	<option value="1540">La Pointe, NS</option>
	<option value="1545">Margaree Trailer, NS</option>
	<option value="1546">Margaree Breakwater, NS</option>
	<option value="1547">Belle Cote Breakwater, NS</option>
	<option value="1548">Margeree Bridge, NS</option>
	<option value="1550">Broad Cove Marsh, NS</option>
	<option value="1560">Port Hood, NS</option>
	<option value="1570">Aulds Cove, NS</option>
	<option value="1580">Cape Jack, NS</option>
	<option value="1590">Antigonish Harbour, NS</option>
	<option value="1597">Cribbons Point, NS</option>
	<option value="1600">Ballantynes Cove, NS</option>
	<option value="1610">Arisaig, NS</option>
	<option value="1620">Merigomish, NS</option>
	<option value="1630">Pictou, NS</option>
	<option value="1635">Pictou Island, NS</option>
	<option value="1640">Caribou, NS</option>
	<option value="1650">Souris, PE</option>
	<option value="1660">Georgetown, PE</option>
	<option value="1662">Montague, NS</option>
	<option value="1665">Graham Pond, PE</option>
	<option value="1670">Murray Harbour, PE</option>
	<option value="1680">Wood Islands, PE</option>
	<option value="1690">Point Prim, PE</option>
	<option value="1700">Charlottetown, PE</option>
	<option value="1710">Canoe Cove, PE</option>
	<option value="1715">Victoria, PE</option>
	<option value="1725">Borden, PE</option>
	<option value="1735">Summerside, PE</option>
	<option value="1745">Skinners Cove, NS</option>
	<option value="1760">Malagash, NS</option>
	<option value="1770">Cape Cliff, NS</option>
	<option value="1775">Pugwash, NS</option>
	<option value="1780">Tidnish, NS</option>
	<option value="1785">Port Elgin, NB</option>
	<option value="1790">Cape Tormentine, NB</option>
	<option value="1800">Cap Pel&eacute;, NB</option>
	<option value="1805">Shediac Bay, NB</option>
	<option value="1810">Cap de Caissie, NB</option>
	<option value="1812">Cocagne Harbour, NB</option>
	<option value="1815">Saint-Thomas-de-Kent, NB</option>
	<option value="1820">Richibucto Cape, NB</option>
	<option value="1825">Richibucto Bar, NB</option>
	<option value="1827">Richibucto, NB</option>
	<option value="1830">Pointe-Sapin, NB</option>
	<option value="1835">Cape Egmont, PE</option>
	<option value="1845">West Point, PE</option>
	<option value="1855">Miminegash, PE</option>
	<option value="1860">Skinner's Pond, NB</option>
	<option value="1865">North Point, PE</option>
	<option value="1875">Tignish, PE</option>
	<option value="1885">Alberton, PE</option>
	<option value="1896">Ellerslie, PE</option>
	<option value="1905">Malpeque, PE</option>
	<option value="1915">Rustico, PE</option>
	<option value="1925">Savage Harbour, PE</option>
	<option value="1935">St. Peters Bay, PE</option>
	<option value="1945">Naufrage, PE</option>
	<option value="1955">North Lake Harbour, PE</option>
	<option value="1960">Millerand, QC</option>
	<option value="1964">Havre Aubert, QC</option>
	<option value="1966">Ile d'Entr&eacute;e, QC</option>
	<option value="1970">Cap-aux-Meules, QC</option>
	<option value="1981">Pointe Basse, QC</option>
	<option value="1985">Grande-Entr&eacute;e, QC</option>
	<option value="1986">Old Harry, QC</option>
	<option value="1987">Leslie, QC</option>
	<option value="1988">Mine Seleine, QC</option>
	<option value="1990">&Eacute;tang-du-Nord, QC</option>
	<option value="1995">&Eacute;tang-de-l'Ouest, QC</option>
	<option value="2000">Escuminac, NB</option>
	<option value="2010">Portage Island, NB</option>
	<option value="2012">Fox Island, NB</option>
	<option value="2014">Cormoran, NB</option>
	<option value="2020">Lower Neguac, NB</option>
	<option value="2022">Neguac, NB</option>
	<option value="2025">Burnt Church, NB</option>
	<option value="2028">Bay du Vin, NB</option>
	<option value="2029">Robichaud Spit, NB</option>
	<option value="2030">Oak Point, NB</option>
	<option value="2033">Loggieville, NB</option>
	<option value="2034">Gordon Point, NB</option>
	<option value="2035">Chatham, NB</option>
	<option value="2040">Newcastle, NB</option>
	<option value="2060">Tracadie, NB</option>
	<option value="2070">Shippegan Gully, NB</option>
	<option value="2071">Shippagan, NB</option>
	<option value="2090">Miscou, NB</option>
	<option value="2110">Caraquet, NB</option>
	<option value="2120">Stonehaven, NB</option>
	<option value="2130">Bathurst, NB</option>
	<option value="2145">Belledune, NB</option>
	<option value="2165">Dalhousie, NB</option>
	<option value="2175">Campbellton, NB</option>
	<option value="2196">Miguasha, QC</option>
	<option value="2200">Carleton-Centre, QC</option>
	<option value="2215">Pointe Howatson, QC</option>
	<option value="2230">Havre de Beaubassin, QC</option>
	<option value="2235">Pasp&eacute;biac, QC</option>
	<option value="2240">Saint-Godefroi, QC</option>
	<option value="2250">Port-Daniel, QC</option>
	<option value="2253">Gascons, QC</option>
	<option value="2260">Newport, QC</option>
	<option value="2279">Grande-Rivi&egrave;re, QC</option>
	<option value="2285">Ste-Th&eacute;r&egrave;se-de-Gasp&eacute;, QC</option>
	<option value="2290">Cap d'Espoir, QC</option>
	<option value="2309">Mal-Bay, QC</option>
	<option value="2310">Pointe-Saint-Pierre, QC</option>
	<option value="2319">Sandy Beach Centre, QC</option>
	<option value="2320">Gasp&eacute;, QC</option>
	<option value="2330">Rivi&egrave;re-au-Renard, QC</option>
	<option value="2335">Anse-&agrave;-Valleau, QC</option>
	<option value="2340">Cloridorme, QC</option>
	<option value="2350">Grande-Vall&eacute;e, QC</option>
	<option value="2360">Port-Menier, QC</option>
	<option value="2375">Pointe du Sud-Ouest, QC</option>
	<option value="2410">Pointe Heath, QC</option>
	<option value="2460">Cap-de-Rabast, QC</option>
	<option value="2470">Mingan, QC</option>
	<option value="2480">Havre-Saint-Pierre, QC</option>
	<option value="2490">Baie Johan-Beetz, QC</option>
	<option value="2510">Natashquan, QC</option>
	<option value="2518">Kegashka, QC</option>
	<option value="2530">Geths&eacute;mani, QC</option>
	<option value="2550">Harrington Harbour, QC</option>
	<option value="2554">T&ecirc;te-&agrave;-la-Baleine, QC</option>
	<option value="2556">Baie-des-Moutons, QC</option>
	<option value="2558">La Tabati&egrave;re, QC</option>
	<option value="2564">Saint-Augustin, QC</option>
	<option value="2580">Ile Eskimo, QC</option>
	<option value="2585">Baie de Brador, QC</option>
	<option value="2588">Blanc-Sablon, QC</option>
	<option value="2590">Forteau, NL</option>
	<option value="2595">West St. Modeste, NL</option>
	<option value="2600">Red Bay, NL</option>
	<option value="2633">Savage Cove, NL</option>
	<option value="2635">Flowers Cove, NL</option>
	<option value="2637">Anchor Point, NL</option>
	<option value="2638">St, Barbe, NL</option>
	<option value="2642">Shoal Cove, NL</option>
	<option value="2650">Port Saunders, NL</option>
	<option value="2660">Cow Head, NL</option>
	<option value="2670">Norris Cove, NL</option>
	<option value="2680">Corner Brook, NL</option>
	<option value="2685">Lark Harbour, NL</option>
	<option value="2695">Fox Island, NL</option>
	<option value="2710">Port Harmon, NL</option>
	<option value="2720">St. George's Bay, NL</option>
	<option value="2750">Rivi&egrave;re-au-Tonnerre, QC</option>
	<option value="2780">Sept-&Icirc;les, QC</option>
	<option value="2790">Port-Cartier, QC</option>
	<option value="2826">Godbout, QC</option>
	<option value="2840">Baie-Comeau, QC</option>
	<option value="2880">Forestville, QC</option>
	<option value="2883">Ste-Anne-de-Portneuf, QC</option>
	<option value="2900">Les Escoumins, QC</option>
	<option value="2920">Mont-Louis, QC</option>
	<option value="2935">Sainte-Anne-des-Monts, QC</option>
	<option value="2940">Cap-Chat, QC</option>
	<option value="2955">Matane, QC</option>
	<option value="2975">Institut Maurice-Lamontagn, QC</option>
	<option value="2980">Pointe-au-P&egrave;re, QC</option>
	<option value="2985">Rimouski, QC</option>
	<option value="2995">Bic, QC</option>
	<option value="3005">Trois-Pistoles, QC</option>
	<option value="3030">Saint-Sim&eacute;on, QC</option>
	<option value="3045">Pointe-au-Pic, QC</option>
	<option value="3048">Saint-Ir&eacute;n&eacute;e, QC</option>
	<option value="3052">Cap-aux-Oies, QC</option>
	<option value="3057">Saint-Joseph-de-la-Rive, QC</option>
	<option value="3058">Ile aux Coudres, QC</option>
	<option value="3060">Cap-aux-Corbeaux, QC</option>
	<option value="3070">Sault-au-Cochon, QC</option>
	<option value="3071">Rocher Neptune, QC</option>
	<option value="3080">Saint-Joachim, QC</option>
	<option value="3087">Sainte-Anne-de-Beaupr&eacute;, QC</option>
	<option value="3095">Montmorency, QC</option>
	<option value="3100">Saint-Fran&ccedil;ois I.O., QC</option>
	<option value="3105">Saint-Jean, QC</option>
	<option value="3110">Saint-Laurent , QC</option>
	<option value="3120">Ile Verte, QC</option>
	<option value="3122">Chenal de l'&icirc;le Verte, QC</option>
	<option value="3125">Cacouna, QC</option>
	<option value="3130">Rivi&egrave;re-du-Loup, QC</option>
	<option value="3140">Ile aux Li&egrave;vres, QC</option>
	<option value="3145">Le Petit P&eacute;lerin, QC</option>
	<option value="3150">Grande &Icirc;le, QC</option>
	<option value="3160">Pointe-aux-Orignaux, QC</option>
	<option value="3166">Traverse Saint-Roch, QC</option>
	<option value="3170">Saint-Jean-Port-Joli, QC</option>
	<option value="3175">L'Islet-sur-Mer, QC</option>
	<option value="3180">Ile aux Grues, QC</option>
	<option value="3190">Grosse &Icirc;le, QC</option>
	<option value="3200">Berthier-sur-Mer, QC</option>
	<option value="3248">Port de Qu&eacute;bec (Vieux-Qu&eacute;bec), QC</option>
	<option value="3250">Qu&eacute;bec (Lauzon), QC</option>
	<option value="3251">Immigration Wharf, QC</option>
	<option value="3260">Saint-Romuald, QC</option>
	<option value="3264">Quai Irving, QC</option>
	<option value="3270">Saint-Nicolas, QC</option>
	<option value="3280">Neuville, QC</option>
	<option value="3295">Pointe-au-Platon, QC</option>
	<option value="3300">Portneuf, QC</option>
	<option value="3304">Moulin &agrave; Bl&eacute;, QC</option>
	<option value="3325">Grondines, QC</option>
	<option value="3335">Deschaillons , QC</option>
	<option value="3337">Brickyard, QC</option>
	<option value="3345">Batiscan, QC</option>
	<option value="3350">Champlain, QC</option>
	<option value="3353">B&eacute;cancour, QC</option>
	<option value="3360">Trois-Rivi&egrave;res, QC</option>
	<option value="3365">Port Saint-Fran&ccedil;ois, QC</option>
	<option value="3425">Tadoussac, QC</option>
	<option value="3460">Port-Alfred, QC</option>
	<option value="3480">Chicoutimi, QC</option>
	<option value="3765">Alert, NU</option>
	<option value="3780">Cape Sheridan, NU</option>
	<option value="3785">Wrangel Bay, NU</option>
	<option value="3790">Discovery Harbour, NU</option>
	<option value="3840">Pim Island, NU</option>
	<option value="3940">Clyde River, NU</option>
	<option value="3960">Cape Hooper, NU</option>
	<option value="3970">Kivitoo, NU</option>
	<option value="3980">Qikiqtarjuaq, NU</option>
	<option value="3995">Cape Dyer, NU</option>
	<option value="4029">Pangnirtung, NU</option>
	<option value="4040">Clearwater Fiord, NU</option>
	<option value="4045">Imigen Island, NU</option>
	<option value="4070">Brevoort Harbour, NU</option>
	<option value="4100">Resor Island, NU</option>
	<option value="4120">Frobisher's Farthest, NU</option>
	<option value="4135">Lewis Bay, NU</option>
	<option value="4140">Iqaluit, NU</option>
	<option value="4160">Sorry Harbour, NU</option>
	<option value="4170">Acadia Cove, NU</option>
	<option value="4205">Kimmirut, NU</option>
	<option value="4215">Ashe Inlet, NU</option>
	<option value="4255">Schooner Harbour, NU</option>
	<option value="4265">Port Burwell, NU</option>
	<option value="4279">Kangiqsualujjuaq, QC</option>
	<option value="4295">Rivi&egrave;re Koksoak, QC</option>
	<option value="4298">Kuujjuaq, QC</option>
	<option value="4315">Lac aux Feuilles, QC</option>
	<option value="4325">Hopes Advance Bay, NU</option>
	<option value="4335">Agvik Island, NU</option>
	<option value="4340">Ile Pikiyulik, QC</option>
	<option value="4345">Ile Basking, QC</option>
	<option value="4379">Quaqtaq, QC</option>
	<option value="4400">Stupart Bay, QC</option>
	<option value="4415">Doctor Island, NU</option>
	<option value="4425">Kangiqsujuaq, NU</option>
	<option value="4435">Douglas Harbour, NU</option>
	<option value="4460">Deception Bay, NU</option>
	<option value="4470">Salluit, NU</option>
	<option value="4480">Digges Harbour, NU</option>
	<option value="4490">Port de Laperriere, NU</option>
	<option value="4500">Port de Boucherville, NU</option>
	<option value="4538">Akulivik, QC</option>
	<option value="4548">North Kopak Island, NU</option>
	<option value="4575">Inukjuak, QC</option>
	<option value="4597">Gillies Island, NU</option>
	<option value="4600">Tukarak Island, NU</option>
	<option value="4604">B&eacute;langer Island, NU</option>
	<option value="4610">Innetalling Island, NU</option>
	<option value="4628">Renouf Island, NU</option>
	<option value="4645">Kuujjuarapik, QC</option>
	<option value="4648">Bear Island, NU</option>
	<option value="4655">Long Island, NU</option>
	<option value="4662">Roggan River, QC</option>
	<option value="4680">La Grande Rivi&egrave;re, QC</option>
	<option value="4681">Loon Islands, NU</option>
	<option value="4688">Hook Island, NU</option>
	<option value="4710">Eastmain, QC</option>
	<option value="4720">Strutton Island, NU</option>
	<option value="4730">Charlton Island, NU</option>
	<option value="4740">Stag Island, NU</option>
	<option value="4780">Sand Head, NU</option>
	<option value="4790">Ship Sands Island, Ontario</option>
	<option value="4800">Nicholson Creek, Ontario</option>
	<option value="4810">Moosonee, Ontario</option>
	<option value="4840">Fort Albany, Ontario</option>
	<option value="4880">Bear Island (James Bay), NU</option>
	<option value="4920">Winisk, Ontario</option>
	<option value="4980">Port Nelson, Manitoba</option>
	<option value="5010">Churchill, Manitoba</option>
	<option value="5040">Arviat (Eskimo Point), NU</option>
	<option value="5055">Whale Cove, NU</option>
	<option value="5070">Marble Island, NU</option>
	<option value="5090">Panorama Island, NU</option>
	<option value="5100">Rankin Inlet, NU</option>
	<option value="5140">Chesterfield Inlet, NU</option>
	<option value="5159">Norton Island, NU</option>
	<option value="5180">Coral Harbour, NU</option>
	<option value="5200">Repulse Bay, NU</option>
	<option value="5275">Hall Beach, NU</option>
	<option value="5295">Igloolik, NU</option>
	<option value="5310">S&eacute;vigny Point, NU</option>
	<option value="5330">Purfur Cove, NU</option>
	<option value="5358">Needle Cove, NU</option>
	<option value="5430">Dundas Harbour, NU</option>
	<option value="5490">Rigby Bay, NU</option>
	<option value="5500">Radstock Bay, NU</option>
	<option value="5510">Beechey Island, NU</option>
	<option value="5560">Resolute, NU</option>
	<option value="5600">Cape Capel, NU</option>
	<option value="5615">Hamilton Island, NU</option>
	<option value="5643">Natkusiak Peninsula, NT</option>
	<option value="5645">Winter Harbour, NT</option>
	<option value="5650">Peel Point, NT</option>
	<option value="5790">Koluktoo Bay, NU</option>
	<option value="5791">Milne Inlet, NU</option>
	<option value="5795">Pisiktarfik Island, NU</option>
	<option value="5860">Strathcona Sound, NU</option>
	<option value="5865">Arctic Bay, NU</option>
	<option value="5906">Whaler Point, NU</option>
	<option value="5912">Port Bowen, NU</option>
	<option value="5917">Bellot Strait East, NU</option>
	<option value="5918">Fury Point, NU</option>
	<option value="5935">Cape Kater, NU</option>
	<option value="5940">Cape Augherston, NU</option>
	<option value="5948">Lavoie Islands (Bernier Bay), NU</option>
	<option value="5960">Martin Islands, NU</option>
	<option value="5970">Crown Prince Frederick, NU</option>
	<option value="5975">Cape Chapman, NU</option>
	<option value="5976">Cape Berens, NU</option>
	<option value="5978">Cape Miles, NU</option>
	<option value="5985">Kugaaruk, NU</option>
	<option value="5990">Cape Sibbald, NU</option>
	<option value="5992">Cape Barclay, NU</option>
	<option value="5998">Dease Peninsula, NU</option>
	<option value="6100">False Strait, NU</option>
	<option value="6150">Taloyoak, NU</option>
	<option value="6160">Shepherd Bay, NU</option>
	<option value="6210">Gladman Point, NU</option>
	<option value="6240">Cambridge Bay, NU</option>
	<option value="6290">Kugluktuk, NU</option>
	<option value="6310">Bernard Harbour, NU</option>
	<option value="6338">Tysoe Point, NT</option>
	<option value="6340">Pearce Point, NT</option>
	<option value="6350">Paulatuk, NT</option>
	<option value="6360">Cape Parry, NT</option>
	<option value="6367">Franklin Bay, NT</option>
	<option value="6380">Ulukhaktok, NT</option>
	<option value="6424">Sachs Harbour, NT</option>
	<option value="6443">Baillies Islands, NT</option>
	<option value="6457">Krubluyak Point, NT</option>
	<option value="6472">Cape Dalhousie, NT</option>
	<option value="6476">Atkinson Point, NT</option>
	<option value="6485">Tuktoyaktuk, NT</option>
	<option value="6495">Hooper Island, NT</option>
	<option value="6497">Pelly Island, NT</option>
	<option value="6505">Shingle Point, NT</option>
	<option value="6515">Kay point, YT</option>
	<option value="6525">Herschel Island, NT</option>
	<option value="6560">Cape Skogn, NU</option>
	<option value="6570">Grise Fiord, NU</option>
	<option value="6580">Bay of Woe, NU</option>
	<option value="6640">Eureka, NU</option>
	<option value="6660">Iceberg Point, NU</option>
	<option value="6670">Greely Fiord, NU</option>
	<option value="6730">Disraeli Fiord, NU</option>
	<option value="6758">Little Cornwallis Island, NU</option>
	<option value="6765">Airstrip Point, NU</option>
	<option value="6780">Northumberland Sound, NU</option>
	<option value="6787">Cameron Island, NU</option>
	<option value="6910">Isachsen, NU</option>
	<option value="6955">Mould Bay, NT</option>
	<option value="7013">Sheringham Point, BC</option>
	<option value="7020">Sooke, BC</option>
	<option value="7024">Sooke Basin, BC</option>
	<option value="7030">Becher Bay, BC</option>
	<option value="7080">Pedder Bay, BC</option>
	<option value="7109">Esquimalt Harbour, BC</option>
	<option value="7110">Esquimalt, BC</option>
	<option value="7120">Victoria, BC</option>
	<option value="7125">Portage Inlet, BC</option>
	<option value="7130">Oak Bay, BC</option>
	<option value="7140">Finnerty Cove, BC</option>
	<option value="7260">Sidney, BC</option>
	<option value="7277">Patricia Bay, BC</option>
	<option value="7284">Finlayson Arm, BC</option>
	<option value="7310">Cowichan Bay, BC</option>
	<option value="7315">Maple Bay, BC</option>
	<option value="7330">Fulford Harbour, BC</option>
	<option value="7345">Narvaez Bay, BC</option>
	<option value="7350">Bedwell Harbour, BC</option>
	<option value="7360">Hope Bay, BC</option>
	<option value="7407">Ganges Harbour, BC</option>
	<option value="7414">Village Bay, BC</option>
	<option value="7420">Montague Harbour, BC</option>
	<option value="7450">Crofton, BC</option>
	<option value="7455">Chemainus, BC</option>
	<option value="7460">Ladysmith, BC</option>
	<option value="7471">Preedy Harbour, BC</option>
	<option value="7480">Boat Harbour, BC</option>
	<option value="7510">Tumbo Channel, BC</option>
	<option value="7525">Georgina Point, BC</option>
	<option value="7532">Whaler Bay, BC</option>
	<option value="7535">Dionisio Point, BC</option>
	<option value="7550">Silva Bay, BC</option>
	<option value="7577">White Rock, BC</option>
	<option value="7590">Tsawwassen, BC</option>
	<option value="7594">Sand Heads, BC</option>
	<option value="7607">Steveston, BC</option>
	<option value="7654">New Westminster, BC</option>
	<option value="7735">Vancouver, BC</option>
	<option value="7755">Port Moody, BC</option>
	<option value="7795">Point Atkinson, BC</option>
	<option value="7811">Squamish, BC</option>
	<option value="7820">Gibsons, BC</option>
	<option value="7830">Halfmoon Bay, BC</option>
	<option value="7836">Irvines Landing, BC</option>
	<option value="7843">Boom Islet, BC</option>
	<option value="7852">Porpoise Bay, BC</option>
	<option value="7865">Blind Bay, BC</option>
	<option value="7868">Saltery bay, BC</option>
	<option value="7875">Blubber Bay, BC</option>
	<option value="7880">Powell River, BC</option>
	<option value="7885">Lund, BC</option>
	<option value="7892">Twin Islands, BC</option>
	<option value="7895">Mitlenatch Island, BC</option>
	<option value="7917">Nanaimo, BC</option>
	<option value="7930">Nanoose Bay, BC</option>
	<option value="7935">Winchelsea Islands, BC</option>
	<option value="7938">Northwest Bay, BC</option>
	<option value="7953">Hornby Island, BC</option>
	<option value="7955">Denman Island, BC</option>
	<option value="7965">Comox, BC</option>
	<option value="7982">False Bay, BC</option>
	<option value="7990">Welcome Bay, BC</option>
	<option value="7993">Little River, BC</option>
	<option value="8008">Prideaux Haven, BC</option>
	<option value="8015">Channel Island, BC</option>
	<option value="8025">Redonda Bay, BC</option>
	<option value="8035">Heriot Bay, BC</option>
	<option value="8037">Gorge Harbour, BC</option>
	<option value="8038">Whaletown Bay, BC</option>
	<option value="8045">Surge Narrows, BC</option>
	<option value="8060">Big Bay, BC</option>
	<option value="8065">Orford Bay, BC</option>
	<option value="8069">Waddington Harbour, BC</option>
	<option value="8074">Campbell River, BC</option>
	<option value="8105">Seymous Narrows, BC</option>
	<option value="8110">Brown Bay, BC</option>
	<option value="8120">Owen Bay, BC</option>
	<option value="8150">Cordero Islands, BC</option>
	<option value="8180">Chatham Point, BC</option>
	<option value="8195">Knox Bay, BC</option>
	<option value="8215">Kelsey Bay, BC</option>
	<option value="8245">Port Neville, BC</option>
	<option value="8250">Port Harvey, BC</option>
	<option value="8280">Alert Bay, BC</option>
	<option value="8290">Port McNeill, BC</option>
	<option value="8310">Glendale Cove, BC</option>
	<option value="8313">Montagu Point, BC</option>
	<option value="8325">Cedar Island, BC</option>
	<option value="8340">Sunday Harbour, BC</option>
	<option value="8347">Kwatsi Bay, BC</option>
	<option value="8348">KingCome Inlet, BC</option>
	<option value="8364">Sullivan Bay, BC</option>
	<option value="8371">Kenneth Passage, BC</option>
	<option value="8379">Stuart Narrows, BC</option>
	<option value="8384">Jennis Bay , BC</option>
	<option value="8394">Raynor Group, BC</option>
	<option value="8408">Port Hardy, BC</option>
	<option value="8426">Walker Group, BC</option>
	<option value="8458">Frederick Sound, BC</option>
	<option value="8464">Nugent Sound, BC</option>
	<option value="8476">Mereworth Sound, BC</option>
	<option value="8482">Belize Inlet, BC</option>
	<option value="8488">Alison Sound, BC</option>
	<option value="8525">Port Renfrew, BC</option>
	<option value="8545">Bamfield, BC</option>
	<option value="8565">Franklin River, BC</option>
	<option value="8575">Port Alberni, BC</option>
	<option value="8585">Effingham Bay, BC</option>
	<option value="8588">Stopper Islands, BC</option>
	<option value="8595">Ucluelet, BC</option>
	<option value="8615">Tofino, BC</option>
	<option value="8623">Kennedy Cove, BC</option>
	<option value="8626">Warn Bay, BC</option>
	<option value="8630">Cypress Bay, BC</option>
	<option value="8632">Herbert Inlet, BC</option>
	<option value="8634">Sulphur Passage, BC</option>
	<option value="8637">Riley Cove, BC</option>
	<option value="8645">Saavedra Islands, BC</option>
	<option value="8650">Gold River, BC</option>
	<option value="8670">Zeballos, BC</option>
	<option value="8710">Kyuquot, BC</option>
	<option value="8735">Winter Harbour, BC</option>
	<option value="8736">Hunt Islets, BC</option>
	<option value="8750">Port Alice, BC</option>
	<option value="8756">Makwazniht Island, BC</option>
	<option value="8765">Coal Harbour, BC</option>
	<option value="8790">Cape Scott, BC</option>
	<option value="8805">Egg Island, BC</option>
	<option value="8810">Leroy Bay, BC</option>
	<option value="8814">Smith Inlet, BC</option>
	<option value="8840">Wadhams, BC</option>
	<option value="8860">Addenbroke Island, BC</option>
	<option value="8865">Adams Harbour, BC</option>
	<option value="8868">Edward Channel, BC</option>
	<option value="8870">Namu, BC</option>
	<option value="8906">Gosling Island, BC</option>
	<option value="8912">Spider Island, BC</option>
	<option value="8917">Stryker Island, BC</option>
	<option value="8937">Bella Coola, BC</option>
	<option value="8958">Forit Bay, BC</option>
	<option value="8962">Ocean Falls, BC</option>
	<option value="8976">Bella Bella, BC</option>
	<option value="8978">Kynumpt Harbour, BC</option>
	<option value="8981">Troup Passage, BC</option>
	<option value="8996">Gerald Point, BC</option>
	<option value="9005">Port Blackney, BC</option>
	<option value="9020">Griffin Passage, BC</option>
	<option value="9035">Klemtu, BC</option>
	<option value="9056">Higgings Passage, BC</option>
	<option value="9058">Price Island, BC</option>
	<option value="9063">Milne Island, BC</option>
	<option value="9067">Smithers Island, BC</option>
	<option value="9077">McKenney Islands, BC</option>
	<option value="9082">Beauchemin Channel, BC</option>
	<option value="9090">Surf Inlet, BC</option>
	<option value="9105">Gillen Harbour, BC</option>
	<option value="9115">Barnard Harbour, BC</option>
	<option value="9130">Hartley Bay, BC</option>
	<option value="9140">Kitimat, BC</option>
	<option value="9150">Kemano Bay, BC</option>
	<option value="9165">Block Islands, BC</option>
	<option value="9195">Lowe Inlet, BC</option>
	<option value="9230">Griffith Harbour, BC</option>
	<option value="9242">Kitkatla Islands, BC</option>
	<option value="9250">Seabreeze Point, BC</option>
	<option value="9305">Welcome Harbour, BC</option>
	<option value="9306">Refuge Bay, BC</option>
	<option value="9312">Lawyer Islands, BC</option>
	<option value="9315">Qlawdzeet Anchorage, BC</option>
	<option value="9325">Moffatt Islands, BC</option>
	<option value="9333">Brundige Inlet, BC</option>
	<option value="9342">Port Edward, BC</option>
	<option value="9354">Prince Rupert, BC</option>
	<option value="9390">Port Simpson, BC</option>
	<option value="9418">Ranger Islet, BC</option>
	<option value="9422">Kincolith, BC</option>
	<option value="9443">Granby Bay, BC</option>
	<option value="9448">Alice Arm, BC</option>
	<option value="9475">Stewart, BC</option>
	<option value="9502">Cape St. James, BC</option>
	<option value="9512">Gordon Islands, BC</option>
	<option value="9570">Hunger Harbour, BC</option>
	<option value="9625">Trounce Inlet, BC</option>
	<option value="9635">Dawson Harbour, BC</option>
	<option value="9708">Heater Harbour, BC</option>
	<option value="9724">Copper Islands, BC</option>
	<option value="9765">Atli Inlet, BC</option>
	<option value="9775">Pacofi, BC</option>
	<option value="9790">McCoy Cove, BC</option>
	<option value="9850">Queen Charlotte, BC</option>
	<option value="9910">Masset, BC</option>
	<option value="9920">Port Clements, BC</option>
	<option value="9927">Juskatla, BC</option>
	<option value="9940">Wiah Point, BC</option>
	<option value="9961">Egeria Bay, BC</option>
	<option value="9964">Langara Point, BC</option>
	<option value="10050">Thunder Bay, Ontario</option>
	<option value="11445">Midland, Ontario</option>
	<option value="15330">Pointe-Claire, QC</option>
	<option value="15520">Montr&eacute;al-Jet&eacute;e No. 1, QC</option>
	<option value="15540">Montr&eacute;al-Frontenac, QC</option>
	<option value="15660">Varennes, QC</option>
	<option value="15780">Contrecoeur, QC</option>
	<option value="15930">Sorel, QC</option>
	<option value="15975">Lac Saint-Pierre, QC</option>
	<option value="16005">Sainte-Anne-de-Bellevue, QC</option>	
</select>
<p class="location"></p>
{% endblock %}